{% extends 'hubbase.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/chat.css">

<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>My Chat App</title>
<meta id="username-metadata" username="{{username}}">


<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
<script src="https://kit.fontawesome.com/191b087c0a.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="./static/css/canvas.css"> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




{% endblock %}

{% block content_name %}
Chat
{% endblock %}

{% block content %}


<div id="media-wrapper">

    <div id="chat-wrapper">

        <div id="sort-chat">
            <div>sort by <i class="fa-solid fa-sort"></i>
            </div>
        </div>

        <div id="messages">
        </div>

        <div id="text-area-wrapper">
            <textarea class="text-widget" id="chatbar" placeholder="Type a new message"> </textarea>
            <div id="widgets-wrapper" class="text-widget">
                <div id="widgets">
                    <a><i class="fa-solid fa-paperclip fa-lg"></i></a>
                    <a><i class="fa-solid fa-tags fa-lg"></i></a>
                    <a><i class="fa-solid fa-paintbrush fa-lg"></i></a>
                    <a><i class="fa-solid fa-icons fa-lg"></i></a>
                </div>
                <div id="sendmessage">
                    <form id="message_input_form" class="form-container" action="">
                        <button type="submit" id="post" class="btn"><i
                                class="fa-solid fa-paper-plane fa-lg"></i></button>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div id="session-overview-master-wrapper">

        <div id="session-overview-wrapper">
            
                <div id="session-ID-wrapper">
                    <strong>
                        <p id="session-id">Session ID: {{ room }}</p>
                    </strong>
                </div>

                <div id="session-clients-wrapper">
                    <div id="session-clients-title-wrapper">
                        <h3>Listeners Online</h3>
                    </div>
                    <div id="session-clients">
                    </div>
                </div>

                <div id="leave-session-wrapper">
                    <a id="leave-session" href="/session">Leave Session</a>
                </div>
            </div>



    </div>
</div>




<script src="../static/client.js"></script>


{% endblock %}


{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>



{% endblock %}