{% extends 'hubbase.html' %}

{% block head %}
 <link rel="stylesheet" href="../static/css/chat.css">

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>My Chat App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
    <script src="https://kit.fontawesome.com/191b087c0a.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}


<div id="media-wrapper">
    <div id="canvas-wrapper">

    </div>
    <div id="divider-wrapper">
        <div ></div>
    </div>

    <div id="chat-wrapper">
        <strong>
            <p id="session-id">Session ID:  {{ room }}</p>
        </strong>

        <div id="messages">
            
        </div>

            <div id="text-area-wrapper" >
                <textarea class="text-widget" id="chatbar" placeholder="Type a new message"> </textarea>
                <div id="widgets-wrapper" class="text-widget">
                    <div id="widgets">
                        <a><i class="fa-solid fa-paperclip fa-lg"></i></a>
                        <a><i class="fa-solid fa-tags fa-lg"></i></a>
                        <a><i class="fa-solid fa-paintbrush fa-lg"></i></a>
                        <a><i class="fa-solid fa-icons fa-lg"></i></a>
                    </div>
                    <div id="sendmessage">
                        <form id="message_input_form" class="form-container">    
                            <button type="submit" id="post" class="btn"><i class="fa-solid fa-paper-plane fa-lg"></i></button>
                        </form>
                    </div>
    
                </div>
            </div>
   


            
        
    </div>
</div>
<script src="../static/client.js"></script>




        

{% endblock %}


{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
