<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>My Chat App</title>
    <link href="/images/logo.png" rel="icon" type="image/png"/>
    <link href="logo.ico" rel="shortcut icon"/>
    <link href="/images/apple-icon.png" rel="apple-touch-icon-precomposed">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .well {
          margin-top: 35px;
        }
  
      </style>
</head>
<body>
    <div class = "vertical-center">
        <div class = "container-fluid">
            <div class ="row">
                <div class = "col-md-4 col-md-offset-4 well">
                    <h1 class="text-center">My Chat App</h1>
                    <form action="/chat" class= "">
                        <div class="form-group">
                            <label>Enter your username:</label>
                            <input type="text" name="username">
                        </div>
                        <div>
                            <label>Enter room id:</label>
                            <input type="text" name="room">
                        </div>
                            <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>