<html>

<head>
  <link rel="stylesheet" href="../static/css/landingpage.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/191b087c0a.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <title>justask</title>
</head>

<body>

  <canvas id="canvas"></canvas>

  <div id="centerpiece">

    <div id="welcome">
      <h1>justask</h1>
      <a id="continue">CONTINUE</a>
    </div>


    <div id="loginBox">
      <form action="/login/" method = "post">
          <h3>Log In</h3>

          <label for="username">Email</label>
          <input name = "email" type="text" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder ='Email'" id="username" required>

          <label for="password" style="display:inline;">Password</label>

          <i id="view_login_password" class="fa-solid fa-eye-low-vision fa-2xs" style="cursor:pointer;"></i>
          <input name = "password" type="password" placeholder="********" id="password" onfocus="this.placeholder = ''" onblur="this.placeholder ='********'" required>
          
          
          <button id="loginbutton">Log In</button>

      </form>
      <a  id="signupLink">New? Sign up here!</a>
    </div>

    <div id="registrationBox">
      <form action="/registration/" method = "post">
        <h3>Create Account</h3>
        <label for="firstname">First Name</label>
        <input name = "firstname" type="text" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder ='First Name'" id="firstname" required>
      
        <label for="lastname">Last Name</label>
        <input name = "lastname" type="text" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder ='Last Name'" id="lastname" required>
        
        <label for="username">Username</label>
        <input name = "username" type="text" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder ='Username'" id="username" required>
        
        <label for="email">Email</label>
        <input name = "email" type="text" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder ='Email'" id="email" required>
        
        <label for="password" style="display:inline;">Password</label>
        <i id="view_registration_password" class="fa-solid fa-eye-low-vision fa-2xs" style="cursor:pointer;"></i>

        <input name = "password" type="password" placeholder="********" id="reg_password" onfocus="this.placeholder = ''" onblur="this.placeholder ='********'" required>
        
        <button>Submit</button>
      </form>
      <a id="redirectToLogin">Already have an account? Log in here!</a>
    </div>

  </div>


  <script src="../static/landingpagedriver.js"></script>
  </body>
</html>
