<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">

</head>
<body>
    
    <div id="loginBox">
        <form action="/login/" method = "post">
            <h3>Log In</h3>

            <label for="username">Email</label>
            <input name = "email" type="text" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder ='Email'" id="username" required>

            <label for="password">Password</label>
            <input name = "password" type="password" placeholder="********" id="password" onfocus="this.placeholder = ''" onblur="this.placeholder ='********'" required>

            <button id="loginbutton">Log In</button>

        </form>
        <a href="{{ url_for('registration') }}" id="signupLink">New? Sign up here!</a>
    </div>
</body>
</html>
