{% extends 'hubbase.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/mcq.css">
{% endblock %}
{% block content_name %}MCQ{% endblock %}
{% block content %}
<div id="media-wrapper">
    <div id="container-wrapper">
        <div id="question-list-wrapper"> question list</div>

        <div class="poll" id="poll">
        <div class="question"></div>
        <div class="answers"></div>
        </div>
    </div>
    <div id="session-overview-master-wrapper">
        <div id="session-overview-wrapper">
            <div id="leave-session-wrapper">
                <a id="leave-session" href="/leave_session">Leave Session</a>
            </div>
                <div id="session-ID-wrapper">
                    <strong>
                        <p id="session-id">Session ID: {{ room }}</p>
                    </strong>
                </div>

                <div id="session-clients-wrapper">
                    <div id="session-clients-title-wrapper">
                        <h3>Listeners Online</h3>
                    </div>
                    <div id="session-clients">
                    </div>
                </div>
                <div id="modal-wrapper">
                <!-- Trigger/Open The Modal -->
                <button class="Mbutton" id="myBtn">Create a Question</button>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form name="modal-form" id="message_input_form" class="form-container">
                        <input type="text" id="question_input" placeholder="Enter your question" name="question" required>
                        <div class="answers" id="answerDiv">  
                            <input type="text" id="answer0" placeholder="Option 1" name="question" required>
                            <input type="text" id="answer1" placeholder="Option 2" name="question" required>
                            <input type="text" id="answer2" placeholder="Option 3" name="question" required>
                            <input type="text" id="answer3" placeholder="Option 4" name="question" required>
                        </div>
                        <button type="submit" id="post" class="btn">Post</button>
                        <button type="button" id="add-option" class="btn">+</button>
                        <button type="button" id="delete-option" class="btn">-</button>
                        <!-- <a href=""><i class="fa-solid fa-pen"></i>whiteboard</a> -->
                        
                    </form>
                </div>
                </div>
                </div>
            </div>

    </div>
</div>
<script src="../static/mcq.js"></script>
{% endblock %}