{% extends "hubbase.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/profile.css">
{% endblock %}
{% block content_name %}
Profile
{% endblock %}

{% block content %}


<div id="profile-wrapper" style="width:100%; height:100%">
    <div id="profile-picture-master-wrapper" class="settings-bar">
        <div id="profile-picture-child-wrapper">
            <div id="profile-picture-wrapper" class="settings-bar">
                <img class="icon" id="profile-picture" src="../static/assets/profile-picture-default.png">
                <!-- <img src="{{ url_for('static', filename='profile-picture-default.png.js') }}"> -->
                <p class="mainDetails">{{FIRSTNAME}} {{LASTNAME}}</p><hr>
                <p class="otherDetails">{{USERNAME}}</p2>
                <p class="otherDetails">{{EMAIL}}</p2>
            </div>
            <div id="profile-socials-wrapper" class="settings-bar">
                <ul style="height:100%;width:100%;" id="profile-socials">
                    <li style="height:100%;" class="profile-social">
                        <a href="{{instagram}}"><img width="30px" class="social-icon"
                                src="../static/assets/instagram.png"></a>
                    </li>
                    <li class="profile-social" id="facebook">
                        <a href="{{facebook}}"><img width="30px" class="social-icon"
                                src="../static/assets/facebook.png"></a>
                    </li>
                    <li class="profile-social" id="twitter">
                        <a href="{{twitter}}"><img width="30px" class="social-icon"
                                src="../static/assets/twitter.png"></a>
                    </li>
                    <li class="profile-social" id="linkedin">
                        <a href="{{linkedin}}"><img width="30px" class="social-icon"
                                src="../static/assets/linkedin.png"></a>
                    </li>
                </ul>
            </div>

            <div id="profile-picture-about-me-wrapper" class="settings-bar">
                <div id="about-me-wrapper">
                    <div class="about-me" id="about-me">
                        <p>About me</p>
                        <textarea class="about-me" id="about-me-text-edit"></textarea>
                    </div>
                    <button class="submit-form-about" id="about-me-submit" name="about-me-submit">Submit</button>
                </div>
            </div>


        </div>
    </div>
    <div id="profile-settings-master-wrapper">
        <div id="profile-settings-wrapper">
            <button class="collapse-button">
                <h1 >Personal Information</h1>
                <i class="fa-solid fa-plus fa-lg" style="float:right;top:50%;"></i>
            </button>
            <form class="settings" action="/profile" method="POST">
                <ul id="personal-information-settings" class="form-impl">
                    <li class = "setting">
                        <p>First Name</p>
                        <input type="text" name="firstname" placeholder = "{{FIRSTNAME}}">
                    </li>
         
                    <li class = "setting">
                        <p>Last Name</p>
                        <input type="text" name="lastname" placeholder = "{{LASTNAME}}">

                    </li>
                </ul>
                <button class="submit-form" name="personal-information-submit">Submit</button>
            </form>


            <button class="collapse-button">
                <h1>Login Information</h1>
                <i class="fa-solid fa-plus fa-lg" style="float:right;top:50%;"></i>
            </button>
            <form class="settings"  action="/profile" method="POST">
                <ul id="login-information-settings" class="form-impl">
                    <li class = "setting">
                        <p>Email Address</p>
                        <input type="text" name="email" placeholder="{{EMAIL}}">

                    </li>
                    <li class = "setting">
                        <p>Username</p>
                        <input type="text" name="username" placeholder = "{{USERNAME}}">

                    </li>
                </ul>
                <button class="submit-form" name="login-information-submit">Submit</button>
            </form>


            <button class="collapse-button">
                <h1>Password Information</h1>
                <i class="fa-solid fa-plus fa-lg" style="float:right;top:50%;"></i>
            </button>
            <form class="settings" action="/profile" method="POST">
                <ul id="password-information-settings" class="form-impl">
                    <li class = "setting">
                        <p>Old Password</p>
                        <input type="password" name="old_password" placeholder="*******">

                    </li>
                    <li class = "setting">
                        <p>New Password</p>
                        <input type="password" name="new_password">

                    </li>
                    <li class = "setting">
                        <p>New Password Confirm</p>
                        <input type="password" name="new_password_confirm">

                    </li>
                </ul>
                <button class="submit-form" name="password-information-submit">Submit</button>
            </form>


            <button class="collapse-button">
                <h1>Social Media Information</h1>
                <i class="fa-solid fa-plus fa-lg" style="float:right;top:50%;"></i>
            </button>
            <form class="settings" method="POST" action="/profile">
                <ul id="social-media-information-settings" class="form-impl">

                    <li class = "setting">
                        <p>Instagram</p>
                        <input type="text" name="instagram" placeholder="{{INSTAGRAM}}">

                    </li>
                    <li class = "setting">
                        <p>Facebook</p>
                        <input type="text" name="facebook" placeholder = "{{FACEBOOK}}">

                    </li>
                    <li class = "setting">
                        <p>Twitter</p>
                        <input type="text" name="twitter" placeholder = "{{TWITTER}}">

                    </li>
                    <li class="setting">
                        <p>Linkedin</p>
                        <input type="text" name="linkedin" placeholder = "{{LINKEDIN}}">

                    </li>
                </ul>
                <button class="submit-form" name="social-media-information-submit">Submit</button>

            </form>

        </div>
    </div>

</div>

<script>
    var coll = document.getElementsByClassName("collapse-button");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{% endblock %}