{% extends "hubbase.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/profile.css">
{% endblock %}
{% block content_name %}
Profile
{% endblock %}

{% block content %}



    <div id="settings-wrapper">

        <div id="settings-navigation-wrapper">
            <ul id="settings-navigation">
                <li id="profile-setting" class="setting">
                    <a>Edit Profile</a>
                </li>
                <li id="password-setting" class="setting">
                    <a>Change Password</a>
                </li>
          
            </ul>
        </div>
        <div id="settings">
            <form action="/profile" method = "post" id="profile-form">

                <div class="information-wrapper">
                    <ul class="form-elements" id="edit-profile-wrapper">
                        <li class = "profile-information">    
                            <p>First Name: </p>
                            <input name="firstname" type="text" placeholder="{{firstname}}">
                        </li>
                        <li class = "information profile-information">    
                            <p>Last Name: </p>
                            <input name="lastname" type="text" placeholder="{{lastname}}">
                        </li>
                        <li class = "information profile-information">    
                            <p>Username: </p>
                            <input name="username" type="text" placeholder="{{username}}">
                        </li>
                        <li class = "information profile-information">    
                            <p>Email Address: </p>
                            <input name="email" type="text" placeholder="{{email}}">
                        </li>
                    </ul>
                    <button name="submit-profile" id="submit-profile" class="submit">Submit</button>
                </div>

            </form>

            <form action="/profile" method = "post" id="password-form">
                <div class="information-wrapper">
                    <ul class = "form-elements" id="change-password-wrapper">
                        <li class = "information password-information">    
                            <p>Old Password: </p>
                            <input name="old-password" type="password" required>
                        </li>
                        <li class = "information password-information">    
                            <p>New Password: </p>
                            <input name="new-password" type="password" required>
                        </li>
                        <li class = "password-information">    
                            <p>Confirm New Password: </p>
                            <input name="new-password-confirm" type="password" required>
                        </li>
                    </ul>
                    <button name="submit-password" id="submit-password" class="submit">Submit</button>

                </div>
               
       
            </form>
        </div>
        
    </div>
        
  

    <script>


        var name = '{{email_exists}}';

        $(document).ready(function(){
            
        
            $('#profile-setting').click(ShowProfileSettings)
            $('#password-setting').click(ShowPasswordSettings)

            profile_form = $('#profile-form');
            password_form = $('#password-form');


            function ShowProfileSettings()
            {
                profile_form.css({"visibility" : "visible"});
                password_form.css({"visibility" : "hidden"});

                profile_form.css({"opacity" : "1"});
                password_form.css({"opacity" : "0"});
            }
            function ShowPasswordSettings()
            {
                profile_form.css({"visibility" : "hidden"});
                password_form.css({"visibility" : "visible"});

                password_form.css({"opacity" : "1"});
                profile_form.css({"opacity" : "0"});
            }
            ShowProfileSettings();
        });


        

    </script>

{% endblock %}