{% extends 'hubbase.html' %}

{% block head %}
<link rel="stylesheet" href="./static/css/session.css">
{% endblock %}

{% block content_name %}
Session
{% endblock %}
{% block content %}

<script>


    let title, joinsession, createsession, submitbutton, sessionIDGenerator, joinsessionbutton, createsessionbutton;
    $(document).ready(function(){
        joinsession = $('#joinsessiontitle');
        createsession = $('#createsessiontitle');
        submitbutton = $('#submitsession');
        sessionIDGenerator = $('#sessionidgenerator')

        joinsessionbutton = $('#joinsessionselection');
        createsessionbutton = $('#createsessionselection');

        ActivateCreateNewSession();
    })
    function ActivateJoinSession()
    {   
        createsessionbutton.css("color", "rgb(206,206,206,0.5)")
        joinsessionbutton.css("color", "white");

        createsession.css({"opacity" : 0});
        joinsession.css({"opacity" : 1});  

        sessionIDGenerator.css("visibility", "hidden");
        submitbutton.attr("name", "joinsession");
        submitbutton.text("Join Session");


    }
    function ActivateCreateNewSession()
    {
        createsessionbutton.css("color", "white")
        joinsessionbutton.css("color", "rgb(206,206,206,0.5)");

        joinsession.css({"opacity" : 0});
        createsession.css({"opacity" : 1});

        sessionIDGenerator.css("visibility", "visible");

        submitbutton.attr("name", "createsession");
        submitbutton.text("Create Session")
    }

</script>
<div id="sessionbox">
    <div id ="sessionselector" >
        <ul class="sessionselectorlist" >
        </li>
        <li style="border-right: 1px solid rgba(0, 0, 0, 0.05)">
            <a class="sessionselection" id="createsessionselection" onclick="ActivateCreateNewSession()">Create Session</a>
        
        </li> 
            <li style="border-left: 1px solid rgba(0, 0, 0, 0.05)">
                <a id="joinsessionselection" class="sessionselection" onclick="ActivateJoinSession()">Join Session</a>
        
        </ul>
    </div>


    <div id="sessiontitles">
        <h3 class="sessionconfigtitle" id="joinsessiontitle">Join an existing session</h3>
        <h3 class="sessionconfigtitle" id="createsessiontitle">Create a new session</h3>
    </div>


    <div id="sessionform"> 


        <form action="/session" method = "post" class="sessionconfig">
            <label>Enter a Session ID:</label>
            <input id="sessionid" type="text" placeholder="Session ID" onfocus="this.placeholder = ''"onblur="this.placeholder = 1234" name="room" maxlength="10">
            <script>
                function GenerateSessionID() {
                    SESSION_ID_STRING_LENGTH = 10;
                    let result = '';
                    var selection = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                    var selectionSize = selection.length;
                    for ( var i = 0; i < SESSION_ID_STRING_LENGTH; i++ )
                    {
                        result += selection.charAt(Math.floor(Math.random() * selectionSize));
                    }
                    $('#sessionid').val(result);
                }
            </script>
            <strong><a id="sessionidgenerator" onclick = "GenerateSessionID()" style="cursor:pointer; visibility: hidden;">Generate Random ID</a></strong>
           
            <button id="submitsession" type="submit">Submit</button>

        </form>
        
    </div>
        


    </div>
</div>

{% endblock %}















