

{% extends "hubbase.html" %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.2.0/fabric.all.min.js"></script>
<link rel="stylesheet" href="../static/css/sketchpad.css">

{% endblock %}

{% block content %}

 <div id="canvas-master-wrapper">
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
            integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='client.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js"
            integrity="sha512-nPzvcIhv7AtvjpNcnbr86eT6zGtiudLiLyVssCWLmvQHgR95VvkLX8mMpqNKWs1TG3Hnf+tvHpnGmpPS3yJIgw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.2.0/fabric.all.min.js">
        </script>

        <div id="canvas-wrapper">

            <canvas style="left: -300px; border: 2px solid; " height="485" width="632" id="c"></canvas>
            <div id="drawing-mode-options">

                <div id="brush-palette">

                    <ul id="brushes">
                        <li class="brush" id="Pointer">
                            <i class="fa-solid fa-arrow-pointer fa-lg"></i>
                        </li>
                        <li class="brush" id="Pencil">
                            <i class="fa-solid fa-pencil fa-lg"></i>
                        </li>
                        <li class="brush" id="Circle">
                            <i class="fa-solid fa-circle fa-lg"></i>
                        </li>
                        <li class="brush" id="Spray">
                            <i class="fa-solid fa-spray-can fa-lg"></i>
                        </li>
                        <li class="brush-manipulator">
                            <input type="color" value="#005E7A" id="drawing-color">
                        </li>
                        <li class="brush-manipulator">
                            <input type="range" value="30" min="0" max="150" id="drawing-line-width">

                        </li>
                    </ul>
                </div>
                
               
            </div>
        </div>
        <script src="../static/canvas.js"></script>

    </div>

    {% endblock %}
