<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    <script src="{{ url_for('static', filename='canvas.js') }}"></script>
    <link rel="stylesheet" href="./static/css/main.css">
  </head>
  <body onload="init()">

    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='client.js') }}"></script>
    <div class="toolkit">
      <div class = "tool" id="green" onclick="color(this)">
        <img src="/static/Green Pen.png">
      
      </div>
      <div class = "tool"  id="blue" onclick="color(this)">
        <img src="/static/Blue Pen.png">
      </div>
      <div class = "tool"  id="red" onclick="color(this)">
        <img src="/static/Red Pen.png">
      </div>
      <div class = "tool" id="yellow" onclick="color(this)">
        <img src="/static/Yellow Pen.png">
      </div>
      <div class = "tool"  id="orange" onclick="color(this)">
        <img src="/static/Orange Pen.png">
      </div>
      <div class = "tool"  id="black" onclick="color(this)">
        <img src="/static/Black Pen.png">
      </div>
      <div class = "tool" style="width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
      <input type="checkbox" id="updatecanvas">
    </div>

    <!-- <canvas id="grid"style="position: absolute; left: 0; top: 500; z-index: 0;"></canvas> -->
    <canvas id="can" style="position: absolute; left: 0; top: 500; z-index: 1;"></canvas>


    let p = document.getElementById("val")
    let range = document.getElementById("slide")
    let changeVal = () => {
      p.textContent = range.value
    }
    changeVal()
    
    range.onchange = changeVal

</body>
</html>




