{% extends 'hubbase.html' %}

{% block head %}
<link rel="stylesheet" href="mcq.css">
{% endblock %}

{% block body %}
<div class="background">
    <div class="poll">
        <div class="question"></div>
        <div class="answers"></div>
    </div>

     <!-- Trigger/Open The Modal -->
     <button class="Mbutton" id="myBtn">Ask Question</button>
     <!-- The Modal -->
     <div id="myModal" class="modal">
     <!-- Modal content -->
     <div class="modal-content">
         <span class="close">&times;</span>
         <form id="message_input_form" class="form-container">
             <input type="text" id="question_input" placeholder="Enter your question" name="question" required>
             <input type="text" id="answer_input" placeholder="Option A" name="question" required>
             <input type="text" id="answer_input" placeholder="Option B" name="question" required>
             <input type="text" id="answer_input" placeholder="Option C" name="question" required>
             <input type="text" id="answer_input" placeholder="Option D" name="question" required>
             <button type="submit" id="post" class="btn">Post</button>

             <!-- <a href=""><i class="fa-solid fa-pen"></i>whiteboard</a> -->
             
         </form>
     </div>
     </div>
    </div>
<script>
let poll = { 
    question: "What's your favorite programming language?",
    answers:[
      "C", "Java", "PHP", "JavaScript"
    ],
    pollCount:20,
    answersWeight: [4, 4, 2, 10],
    selectedAnswer:-1
};

let pollDOM = {
    question:document.querySelector(".poll .question"),
    answers:document.querySelector(".poll .answers")
};

pollDOM.question.innerText = poll.question;
pollDOM.answers.innerHTML = poll.answers.map(function(answer, i){
    return (    
        `
            <div class="answer" onclick="markAnswer ('${i}')">
                ${answer}
                <span class="percentage-bar"></span>
                <span class="percentage-value"></span>
            </div>
        `
    );   
}).join("");

function markAnswer(i){
    poll.selectedAnswer = +i; 
    try {
        document.querySelector(".poll .answers. answer.selected").classList.remove("selected");
    } catch(msg){}
    document.querySelectorAll(".poll .answers .answer")[+i].classList.add("selected");
    showResults();
}

function showResults(){
    let answers = document.querySelectorAll(".poll .answers .answer");
    for (let i=0; i<answers.length; i++){
        let percentage = 0;
        if(i == poll.selectedAnswer){
            percentage = Math.round((poll.answersWeight[i]+1) * 100 / (poll.pollCount+1));
        } else {
            percentage = Math.round((poll.answersWeight[i]) * 100/ (poll.pollCount+1));
        }
        answers[i].querySelector (".percentage-bar").style.width = percentage + "%";
        answers[i].querySelector (".percentage-value").innerText = percentage + "%";
    }
}
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}
// When the user posts question, close the modal
post.onclick  = function() {
modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
    modal.style.display = "none";
}
}                                                                        
</script>
{% endblock %}