
#text-toolbar-wrapper{
    width:100%;
}

#messages{
    overflow-y:auto;
    width:100%;
}


#messages
{
    width:100%;
    height:75%;
    border-radius: 10px;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    align-items: center;
}

.acknowledge{
    color:rgb(129,96,217);
    font-size: 12px;
    padding-top: 5px;
}


#chatbar
{   
    border-radius: 5px;
    width:100%;
    border-color: rgb(95, 68, 168);
    margin-bottom: 5px;
    cursor:text;
}


#widgets,#widgets-wrapper
{
    display:flex;
    flex-direction: row;
    width:100%;
}
#post
{
    padding:0;
    margin:0;
    border:0;
}

#widgets *
{
    padding-right: 5px;
}
.message-wrapper-master{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.message-wrapper{
    display:flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: rgb(129,96,217,0.6);
    padding:20px;
    border-radius: 5px;
    width:90%;
    margin:10px;
    padding-bottom: 20px;
}
.message-wrapper.foreign{
    color: rgb(129,96,217);
    background-color: rgb(129,96,217,0.2);
}

.message-wrapper.native .message-payload{
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(95, 68, 168);
}

.message-wrapper.foreign .message-payload{
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(95, 68, 168);
}


.message-wrapper p{
    padding:0;
    margin:0;
    padding-right:3px;
    overflow-wrap: break-word;
    overflow: auto;
    max-height: 200px;
}
.message-header{
    background-color: transparent;
    font-size:10px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;

}
.message-payload{
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    font-size:12px;
    width:100%;
    padding:10px;
    min-height: 30px;
}


.message-properties{
    display:flex;
    flex-direction: row;
}
.message-property{
    margin-left: 2px;
    margin-right:2px;
    cursor:pointer;
}

.message-property.message-voting{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    justify-content: flex-start;
    color:rgb(95, 68, 168);
}


.voting-icons{
    list-style-type: none;
    padding:0;
}
.message-vote{
    cursor:pointer;
    margin:0px;
    padding: 0px;
}

#media-wrapper
{
    display:flex;
    flex-direction: row;
    height:100%;
    background-color: white;
    overflow:hidden
}

#chat-wrapper
{
    width:85%;
    height:100%;
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    margin:20px;
}

#text-area-wrapper
{
    width:100%;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom: 20px;
    background-color: rgb(250, 250, 250);
    bottom:0;
}

#session-overview-master-wrapper{
    background-color: rgb(129,96,217,0.6);
    height:100%;
    width:20%;
}
#session-overview-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    margin:0;
    height:100%;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

#session-id{
    height:30px;
    padding:5px;
    margin-top:5px;
    font-weight: 600;
    color: white;
}

#session-ID-wrapper{
    border-bottom: 2px solid rgb(256,256,256,0.5);
}

#sort-chat{
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(129,96,217,0.6);
    color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}


#leave-session-wrapper{
    bottom: 0px;
    width:100%;
    text-align: center;
    margin-bottom: 15px;
}
#leave-session{
    background-color: rgb(95, 68, 168);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-self: center;
    width: 80%;
    vertical-align: bottom;

}

#leave-session:hover {
    background: rgb(95, 68, 168,0.8);
}

#session-clients-wrapper{
    height: 350px;
    background: rgb(256, 256, 256,0.1);
    width: 80%;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 30px;
}

#session-clients{
    color:rgb(95, 68, 168);
    font-size: 10px;
}
#session-clients-wrapper h3{
    font-size: 18px;
    color: rgb(95, 68, 168);
}