
#text-toolbar-wrapper{
    width:100%;
}

#messages{
    overflow-y:auto;
    width:100%;
}


* active-message{
    
}

#messages
{
    width:100%;
    height:75%;
    border-radius: 10px;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    align-items: center;
}

.acknowledge{
    color:rgb(129,96,217);
    font-size: 12px;
    padding-top: 5px;
}


#chatbar
{   
    border-radius: 5px;
    width:100%;
    border-color: rgb(95, 68, 168);
    margin-bottom: 5px;
    cursor:text;
}

#widgets{
    width: 15%;
    padding-top: 3px;
}
#widgets-wrapper
{
    display:flex;
    flex-direction: row;
    width: 100%;
}
#post
{
    padding:0;
    margin:0;
    border:0;
}

#widgets *
{
    padding-right: 5px;
}
.message-wrapper-master{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.message-wrapper-master-child{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.message-wrapper-master-child.message-wrapper.native{
    padding-top: 0px;
}
.message-wrapper{
    display:flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: rgb(129,96,217,0.6);
    padding:10px 15px 15px;
    border-radius: 5px;
    width:90%;
    margin:10px;
}
.message-wrapper.foreign{
    color: rgb(129,96,217);
    background-color: rgb(129,96,217,0.2);
}

.message-wrapper.native .message-payload{
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(95, 68, 168);
}

.message-wrapper.foreign .message-payload{
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(95, 68, 168);
}


.message-wrapper p{
    padding:0;
    margin:0;
    padding-right:3px;
    overflow-wrap: break-word;
    overflow: auto;
    max-height: 200px;
}
.message-header{
    background-color: transparent;
    font-size:10px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;

}
.message-payload{
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    font-size:12px;
    width:96%;
    padding:10px;
    min-height: 30px;
    align-self: center;
}


.message-properties-wrapper{
    display:flex;
    flex-direction: row;
    width:100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.message-properties{
    list-style-type: none;
    padding:0;
    display:flex;
    flex-direction: row;
    margin:0;


}
.message-property{
    margin-left: 2px;
    margin-right:2px;
    cursor:pointer;
    padding-right:10px;
    font-size:12px;
}

#commenting-status{
    display: none;
    color: rgb(129,96,217);
    width: 30%;
    align-self: center;
}

.message-property.message-voting{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    justify-content: flex-start;
    color:rgb(95, 68, 168);
}


.comment-button{
    padding:0;
    margin:0;
}

.voting-icons{
    list-style-type: none;
    padding:0;
}
.message-vote{
    cursor:pointer;
    margin:0px;
    padding: 0px;
}

#media-wrapper
{
    display:flex;
    flex-direction: row;
    height:100%;
    background-color: white;
    overflow:hidden
}

#chat-wrapper
{
    width:50%;
    height:100%;
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    margin:20px;
}
#canvas-wrapper-main{
    width:50%;
}

#canvas-wrapper{
    display:flex;
    flex-direction: row;
}


#text-area-wrapper
{
    width:100%;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom: 20px;
    background-color: rgb(250, 250, 250);
    bottom:0;
    margin:5px;
}

#session-overview-master-wrapper{
    background-color: rgb(129,96,217,0.6);
    height:100%;
    width:20%;
}
#session-overview-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    margin:0;
    height:100%;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

#session-id{
    height:30px;
    padding:5px;
    margin-top:5px;
    font-weight: 600;
    color: white;
}

#session-ID-wrapper{
    border-bottom: 2px solid rgb(256,256,256,0.5);
}
#sorting{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    justify-content: space-between;
}
.sortbuttons{
    display: inline-block;
    cursor: pointer;
    background-color: rgb(129,96,217,0.6);
    color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
    font-weight: bold;
}
.sorters, .filters{
    display: none;
    cursor: pointer;
    color: white;
}
.sorters a, .filters a{
    background-color: rgb(129,96,217);
    font-size: 14px;
    padding: 9.2px 30px;
    text-align: center;
    margin: 0px -5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -20px;
}

#sort-wrapper:hover #sort-chat, #filter-wrapper:hover #filter-chat{
    background-color: rgb(129,96,217);
}

#sort-wrapper:hover .sorters,  #filter-wrapper:hover .filters{
    display: inline-block;
}
.sorters a:hover, .filters a:hover{
    background-color: rgb(129,96,217,0.6);
}

#leave-session-wrapper{
    bottom: 0px;
    width:100%;
    text-align: center;
    margin-bottom: 15px;
}
#leave-session{
    background-color: rgb(95, 68, 168);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-self: center;
    width: 80%;
    vertical-align: bottom;

}

#leave-session:hover {
    background: rgb(95, 68, 168,0.8);
}

#session-clients-wrapper{
    height: 350px;
    background: rgb(256, 256, 256,0.1);
    width: 80%;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 30px;
}

#session-clients{
    color:rgb(95, 68, 168);
    font-size: 10px;
}
#session-clients-wrapper h3{
    font-size: 18px;
    color: rgb(95, 68, 168);
}
#sendmessage{
    margin-left: auto;
}
#flair-options, .active-message-flairs{
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
    margin-bottom: 0;
    padding: 0;
    justify-content: flex-end;
}
#flair-options{
    margin-bottom: 4px;
}
.flair-option-wrapper, .active-message-flair{
    background-color: rgb(95, 68, 168,0.4);
    color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 1px 5px;
    text-align: center;
    border: none;
    margin:3px;
    cursor:pointer;
}
.flair-option-wrapper:hover, .flair-option-wrapper.chosen{
    background-color: rgb(95, 68, 168,0.7);
}

.flair{
    cursor: pointer;
}
.flair:hover{
    color: rgb(129,96,217);
    opacity: 0.8;
}