@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000000;
}

#redirectToLogin, #signupLink
{
  color:white;
  cursor:pointer;
}

#centerpiece
{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  z-index: 2; 

}
#content
{
  position:absolute;

}



#canvas {

  position: fixed;
  width: calc(100% - 2px); /* for borders */
  height: calc(100% - 2px); /* for borders */
  top:0;
  left:0;
/* 
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
  /* filter: blur(3px); */

  
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

h1
{
  font-size:80px;
}

#continue{
  animation: blinker 1s linear infinite;
  text-decoration: none;
  cursor: pointer;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

* { margin:0; padding:0; } /* to remove the top and left whitespace */



/* LOGIN BOX */



@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000000;
}


#loginBox
{
height: 500px;
width: 400px;
box-shadow: 0 0 40px rgba(8,7,16,0.6);
background-color: rgba(97, 99, 206, 0.13);
backdrop-filter:blur(30px);
border: 1px solid rgba(255,255,255,0.1);
position: absolute;
transform: translate(-50%,-50%);
top: 53%;
left: 50%;
border-radius: 10px;
padding: 50px 35px;
background:  rgb(129,96,217);
visibility:hidden;
opacity: 0;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

#loginBox #username{
  margin-bottom: 10px;
}

#passwordBox input, #passwordBox2 input{
  float: left;
}

#passwordBox i{
  margin-top: -25px;
  transform: translate(600%, 0);
  color: rgb(129,96,217);
}

#passwordBox2 i{ /* for registration */
  color: rgb(129,96,217);
  margin-top: -10px;
  transform: translate(800%, 0);
}

#loginbutton
{
    margin-bottom: 30px;
}

#signupLink
{
    position:absolute;
    transform: translate3d(-50%, -50%, 0); 
    left:50%;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
    cursor: pointer;
}

*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
background-color: "rgb(255,255,255)";
}
.background{
width: 430px;
height: 530px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
 }
.logo{
font-family: 'Geneva';
margin-top: 60px;
font-size: 35px;
line-height: 42px;
text-align: center;
color:  #0a2031;
letter-spacing: 4px;
position: static;
}

form *{
font-family: 'Poppins',sans-serif;
color: #ffffff;
outline: none;
border: none;
letter-spacing: 0.5px;
}
form h3{
font-size: 37px;
line-height: 42px;
text-align: center;
font-weight: 500;
}

label{
display: block;
margin-top: 30px;
font-size: 16px;
font-weight: 500;
}
input{
display: block;
height: 50px;
width: 100%;
background-color: rgba(255,255,255,0.07);
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 14px;
font-weight: 300;
}
::placeholder{
color: #e5e5e5;
}
button{
margin-top: 50px;
width: 100%;
background-color: #ffffff;
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}


#registrationBox
{
width: 500px;
box-shadow: 0 0 40px rgba(8,7,16,0.6);
background-color: rgba(97, 99, 206, 0.13);
backdrop-filter:blur(30px);
border: 1px solid rgba(255,255,255,0.1);
position: absolute;
transform: translate(-50%,-50%);
top: 53%;
left: 50%;
border-radius: 10px;
padding: 30px 35px 60px;
background:  rgb(129,96,217);
height: fit-content;
block-size: fit-content;
visibility:hidden;
opacity: 0;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
min-height: 100px;
overflow: visible;
}

#registrationBox label{
  margin-bottom: -6px;
}

#registrationBox input{
  margin-bottom: -16px;
}

#redirectToLogin
{
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0); 
  left:50%;
  font-size: 15px;
  color:white;
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 40px;
  position: absolute;
  width:fit-content;
}


#sessionidgenerator{
  color: white;
  font-weight: 500;
  font-size: 12px;
  padding-top: 40px;
}
#sessionidgenerator:hover{
  color: rgb(206, 206, 206, 0.7);
}
#passwordfield{
  display: inline-block;
  background-color: #000000;
}
