#user-information-wrapper{
    width:100%;
    height:100%;
}
#user-information{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    background-color: transparent;
    list-style-type: none;
    padding:20px;
    margin:0;
}