
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: rgb(206,206,206);
}

#sessionbox
{
    display:flex;
    flex-direction: column;
    list-style-type:none;
    text-align: center;
    background-color:rgb(95, 68, 168);
    color:white;
    width:430px;
    height:530px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    overflow:hidden;

}
#sessionselector *
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
    
    
}

.sessionselectorlist li a{
    width:100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    cursor:pointer;
    padding:5px


}
.sessionselectorlist li:hover{
    cursor:pointer;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    color:rgb(206, 206, 206);   

}
.sessionconfigwrapper
{
    height:100%;
    text-align: center;


}
.sessionconfig
{

    position: absolute;
    display:flex;
    flex-direction: column;
    list-style-type:none;
    text-align: center;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;


    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


#sessiontitles
{
    width:100%;
    overflow:hidden;
}
.sessionconfigtitle
{
    position:absolute;
    transform: translate(-50%,-50%);
    left:50%;
    margin-top: 50px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


#sessionid
{
    border-radius: 10px;
}
#submitsession
{
    border-radius: 20px;
}


